#java specific
*.class
*.jar

#files
.classpath
.project
maven-eclipse.xml
externals/ringojs/lib/ringo.jar
externals/ringojs/run.jar

#folders
target/*
externals/*
.externalToolBuilders/*
.settings/*
lib/*
tests/*
build/*