<?xml version="1.0" encoding="ISO-8859-1"?>
<!--<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> -->
   <web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
  <display-name>RingoJS App</display-name>
    <servlet>
        <servlet-name>ringo</servlet-name>
        <servlet-class>org.ringojs.jsgi.JsgiServlet</servlet-class>
        <init-param>
            <param-name>ringo-home</param-name>
            <param-value>/WEB-INF</param-value>
        </init-param>
        <init-param>
            <param-name>module-path</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>config</param-name>
            <param-value>config</param-value>
        </init-param>
        <init-param>
            <param-name>app</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
        	<param-name>GEOEXPLORER_DATA</param-name>
        	<param-value>/var/local/geoexplorer-data/</param-value>
    	</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ringo</servlet-name>
        <url-pattern>/ringo/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>geodataHI.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/springmvc-servlet.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/spring/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
