.panel-loading {
    color: grey;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.template {
    display: none;
}
